{
  "presets": [
    ["@babel/preset-env", { "modules": "commonjs" }],
    "@babel/preset-typescript"
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-typescript"
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "regenerator": true,
            "useESModules": true // 啟用 ESM 特性
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "@babel/preset-typescript"
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "regenerator": true,
            "useESModules": true // 啟用 ESM 特性
          }
        ]
      ]
    }
  }
}